@model Vidly.Models.Customer
    @using System;
@{
    ViewBag.Title = "Details";
}

<h2>Customer Details</h2>

<h3>@Model.Name</h3>

<ul>
    <li>Membership Type : @Model.MembershipType.Name</li>

    @if (Model.Birthdate != null)
    {
    <li>Birthdate : @Model.Birthdate</li>
    }
</ul>

<br/>


@Html.ActionLink("Back to Customers", "Index", "Customers")