@model List<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

@Html.ActionLink("Add a new Customer","New","Customers",null,new { @class = "btn btn-primary" })

<br/>
<br />

<table id="customers" class="table table-bordered table-hover">

    <thead>
        <tr>
            <th>Customers</th>
            <th>Discount Rate</th>
            <th>Delete</th>

        </tr>
    </thead>
    @foreach (var c in Model)
    {
        <tr>
          

            <td>@Html.ActionLink(c.Name,"Edit","Customers",new { id = c.Id},null)</td>
            <td>@c.MembershipType.Name</td>
            <td><button data-customer-id="@c.Id"class="btn-link js-delete">Delete</button></td>

        </tr>
    }
</table>

<br/>

@section scripts
{
    <script>
        $(document).ready(function () 
        {

            $('#customers .js-delete').on("click", function () {

                //get a reference to our button immediatly
                var button = $(this);

                //using bootbox javascript plugin.
                bootbox.confirm("Are you sure you want to delete this customer?", function (result)
                {
                    if (result) {
                        //if you get confirmation, call jQuery ajax function to delete
                        //the customer
                        $.ajax(
                            {
                                url: "/api/customers/" + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    //we have a reference to our button from above. var button
                                    //the reason we defined it there, was because at this point we 
                                    //are in the success callback function, and $(this) can refer to something else
                                    //hence to be safe, we defined the button outside of this callback.
                                    //we then use it as a reference point and delete the row which contains this button.

                                    button.parents('tr').remove();
                                }

                            });
                    };
                });

            });
        });

    </script>

}
